#msg-column {
	display: inline-block;
	@extend .col-xs-6;
	// float: left;
	padding-right: 0px;
	background-color: #fff;
	border-right: 1px solid #ccc;
	padding-left: 0;
	height: 500px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 5px;
	}
	&::-webkit-scrollbar-thumb {
	    border-radius: 0px;
	    background-color: transparentize(#333,0.5);

	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

